body {
    background-color: #E0919D;
    max-width: 530px;
    margin: 0;
}

.hello {
    width: 90%;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

.portfoliolink {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
.portfoliolink:visited {
    color: white;
}

.portfoliolink:hover{
    color:black;
}

.resources {
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: black;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

li {
    font-family: 'Work Sans', sans-serif;
    color: black;
    text-decoration: none;
    list-style-type: none;
}